.menu-container {
    height: 100vh;
    width: var(--twn-menuWidth);
    position: fixed;
    top: 0;
    left: 0;
    background: #ffffff;
}

.menu {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    background: #ffffff;
    padding: 25px;
    height: 100%;
}

.logo {
    width: 170px;
    height: auto;
    margin: 25px 0px 50px;
    cursor: pointer;
}

ul {
    list-style: none;
    padding: 0;
    margin: 0;
    text-align: right;

    li {
        a {
            display: block;
            text-decoration: none;
            color: var(--twn-textColor);
            padding: 0.7rem 1rem;
            margin: 0 -1.25rem;
            text-transform: uppercase;
            font-size: 1.3rem;
            font-family: var(--twn-textFont), sans-serif;
            font-weight: 400;
            transform-origin: right center;
            transition: transform 0.25s;

            i {
                margin-left: 8px;
                transition: transform 0.25s;
            }

            &:hover,
            &.active {
                color: var(--twn-linkHoverColor);
                transform: scale(1.05);

                i {
                    transform: scale(1.4);
                }
            }
        }
    }
}