<div *ngIf="article() as article" class="page-container">
    <div class="page-layout">
        <h1>{{ article.title }}</h1>
        <div [innerHTML]="article.intro" class="intro"></div>
        <div class="image-wrapper">
            <div class="image-blur-bg">
                <img [src]="article.image.large" alt="" class="image-blur" />
            </div>
            <div class="image-foreground">
                <img [src]="article.image.large" [alt]="article.image.alt" class="article-image" />
            </div>
            <div class="image-title">{{ article.image.title }}</div>    
        </div>
        <div [innerHTML]="article.body" class="article-body"></div>
        <div class="article-tags" *ngIf="article.tags?.length">
            <span *ngFor="let tag of article.tags" class="tag">{{ tag }}</span>    
        </div>
    </div>
</div>