.intro {
    font-weight: 900;
}

.intro, .article-body {
    margin: 2.5rem 0;
}

.image-wrapper {
    position: relative;
    padding-bottom: 50%; 

    &:hover .article-image {
        transform: scale(1.05);
    }

    &:hover .image-blur {
        transform: scale(1.25);
    }
}

.image-blur-bg {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    overflow: hidden;
    z-index: 1;
}

.image-blur {
    width: 100%;
    height: 100%;
    object-fit: cover;
    filter: blur(12px);
    transform: scale(1.15);
    transition: transform 0.25s ease;
}

.image-foreground {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 2;
}

.article-image {
    width: 100%;
    height: 100%;
    object-fit: contain;
    transition: transform 0.25s ease;
}

.image-title {
    position: absolute;
    bottom: 0;
    width: 100%;
    padding: 0.5rem 1rem;
    background: rgba(0, 0, 0, 0.5);
    z-index: 3;
}