<div class="page-container">
    <div class="page-layout">
        <h1>Conway's Game of Life</h1>
        <div class="controls">
            <label for="speedSelect">Speed</label>
            <select name="speedSelect" id="speedSelect" [(ngModel)]="speed" (change)="changeSpeed()">
                <option value="slow">Slow</option>
                <option value="normal">Normal</option>
                <option value="fast">Fast</option>
            </select>

            <label>Grid width</label>
            <select [(ngModel)]="tempGridCols">
              <option *ngFor="let col of colOptions" [value]="col">{{ col }}</option>
            </select>
            <label>Grid height</label>
            <select [(ngModel)]="tempGridRows">
              <option *ngFor="let row of rowOptions" [value]="row">{{ row }}</option>
            </select>
            <button (click)="togglePause()">
              {{ paused ? 'Resume' : 'Pause' }}
            </button>
            <button (click)="applyGridSize()">Apply</button>
        </div>
        <canvas #gameboard></canvas>
    </div>
</div>