<div class="page-container">
    <div class="page-layout">
        <h1>Nimekiri</h1>
        <table>
            <thead>
                <tr>
                    <th>
                        <button (click)="sortBy('firstname')" class="sort-btn">Eesnimi</button>
                    </th>
                    <th>
                        <button (click)="sortBy('surname')" class="sort-btn">Perekonnanimi</button>
                    </th>
                    <th>Sugu</th>
                    <th>Sünnipäev</th>
                    <th>Telefon</th>
                </tr>
            </thead>
            <tbody>
                @for (article of articleItems(); track $index) {
                <tr>
                    <td><span>{{ article.firstname }}</span></td>
                    <td><span>{{ article.surname }}</span></td>
                    <td><span>{{ getSexLabel(article.sex) }}</span></td>
                    <td><span>{{ getBirthDateFromId(article.personal_code) }}</span></td>
                    <td><span>{{ article.phone }}</span></td>
                </tr>       
                }
            </tbody>
        </table>
    </div>
</div>