@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@100;200;300;400;600;700&display=swap');

@font-face {
  font-family: 'BoosterNextFY';
  src: url('/fonts/BoosterNextFY-Thin.woff2') format('woff2'),
    url('/fonts/BoosterNextFY-Thin.woff') format('woff');
  font-weight: 100;
  font-style: normal;
}

@font-face {
  font-family: 'BoosterNextFY';
  src: url('/fonts/BoosterNextFY-Light.woff2') format('woff2'),
    url('/fonts/BoosterNextFY-Light.woff') format('woff');
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'BoosterNextFY';
  src: url('/fonts/BoosterNextFY-Regular.woff2') format('woff2'),
    url('/fonts/BoosterNextFY-Regular.woff') format('woff');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'BoosterNextFY';
  src: url('/fonts/BoosterNextFY-Medium.woff2') format('woff2'),
    url('/fonts/BoosterNextFY-Medium.woff') format('woff');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'BoosterNextFY';
  src: url('/fonts/BoosterNextFY-Bold.woff2') format('woff2'),
    url('/fonts/BoosterNextFY-Bold.woff') format('woff');
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: 'BoosterNextFY';
  src: url('/fonts/BoosterNextFY-Black.woff2') format('woff2'),
    url('/fonts/BoosterNextFY-Black.woff') format('woff');
  font-weight: 900;
  font-style: normal;
}

:root {
  --twn-font: BoosterNextFY;
  --twn-textFont: "Open Sans";
  --twn-rootFontSize: 16px;
  --twn-highlightColor: #14cc76;
  --twn-textColor: #3a3d57;
  --twn-alternateTextColor: #fff;
  --twn-secondaryColor: #ff57a2;
  --twn-backgroundColor: #3a3d57;
  --twn-linkHoverColor: #03875c;
  --twn-blockColor: #efefef;
  --twn-menuWidth: 220px;
  --twn-maxWidth: 1000px;
}

html,
body {
  margin: 0;
  padding: 0;
  background-color: var(--twn-backgroundColor);
  color: var(--twn-alternateTextColor);
  font-family: var(--twn-textFont), sans-serif;
}

* {
  outline: none;
  box-sizing: border-box;
}

h1, h2, h3, h4 {
  font-family: var(--twn-font);
}

h1 {
  font-size: 45px;
  text-align: center;
  text-transform: uppercase;
  margin-top: 0;
}

.page-container {
  background-image: url(../public/imgs/bg-deco-left.svg), url(../public/imgs/bg-deco-right.svg);
  background-position: var(--twn-menuWidth) bottom, 100% 0;
  background-repeat: no-repeat;
  background-size: 150px, 250px;
  background-attachment: fixed;
  display: block;
  position: relative;
  margin-left: var(--twn-menuWidth);
  height: 100vh;
  padding: 5rem 2.5rem;
  overflow: auto;
}

.page-layout, .page-container {
  position: relative;
}

.page-layout {
  max-width: var(--twn-maxWidth);
  margin: 0 auto;
}
