.page-container {
    display: flex;
    align-items: center;
    max-width: var(--twn-MaxWidth);

    .page-layout {
        text-align: center;

        h1{
            margin: 0;
            color: var(--twn-highlightColor);
        }

        .home-subheading {
            font-family: var(--twn-font);
            font-weight: 700;
            margin: 0;
            font-size: 40px;
        }
    }
}